* {
    margin:0%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
}

body {
    background-color: #85caef;
}

header {
    background-color: #85caef;
    height: 10vh;
    padding:3em;
}

main {
    background-color: #9d9d9d;
    height: 50vh;
    padding:0.5em;
    padding-top:3em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

footer {
    background-color: #85caef;
    height: 7vh;
    padding:7em 1em 0em 0em; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

button {
    width: 7em;
    padding: 1em;
    background-color: #183183;
    border-width: 5px;
    border-color: white;
    margin-bottom: 2em;
    margin-left: 1em;
    font-size: 2em;
    border-radius: 20em;
    color: white;
}

h1{
    margin-bottom: 0.5em;
}

h2{
    margin: 0.3em;
    margin-top: 2em;
    font-size: 3em;
}

p{
    font-size: 4em;
    font-weight: 600;
}

main img {
    height: auto;
    width: 100vw;
    position: fixed;
    z-index: 1;
}

main button {
    z-index: 2;
    position: fixed;
    margin-top: 20em;
}

#mensFoto {
    z-index: 3;
    position: absolute;
    height: 400px;
    width: auto;
}



.alsGoed {
    background-color: #289d24;
}

.alsFout {
    background-color: #bc2424;
}